*

!LICENSE
!README.md

!.gitignore
!.gitattributes
!requirements.txt
!setup.py

!tenad/
!tenad/__init__.py
!tenad/tensor.py
!tenad/module.py
!tenad/layer.py
!tenad/activation.py
!tenad/criterion.py
!tenad/optimizer.py

!test/
!test/gradcheck.py

!demo/
!demo/data/
!demo/data/mnist/
!demo/mnist.py
